<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3 card border-dark mb-3" style="width: 18rem;">
                <img src="{{car.slikainfo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.auto}} {{car.model}}</h5>
                    <p class="card-text">{{car.cijenaPoDanu}} /dan</p>
                    <a href="/prikaziAuto/{{car._id}}" 
                    class="btn btn-primary">Kontakt vlasnika</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card text-white bg-dark mb-3 card border-dark mb-3" style="max-width: 40rem;">
            <form action="/placanje/{{rezervacija._id}}" method="POST">
            <div class="form-group text-monospace center" style="margin-top: 25px;">
                <label for="dan">Ukupan iznos je: {{rezervacija.ukupno}}kn</label>
                <div class="form-group">
                </div>
            </div>
            <script src="https://checkout.stripe.com/checkout.js"
             data-key="{{StripePublishableKey}}" class="stripe-button" 
             data-amount="{{stripeUkupno}}"
             data-name="Car Rental" 
             data-description="{{rezervacija.ukupno}} kn za iznajmljivanje {{car.auto}} {{car.model}}"
             data-image="/image/logo.png"></script>
            
            </form>
        </div>
    </div>
</div>