<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3 card border-dark mb-3" style="width: 18rem;">
                <img src="{{car.slikainfo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.auto}} {{car.model}}</h5>
                    <p class="card-text">{{car.cijenaPoDanu}} /dan</p>
                    <a href="/prikaziAuto/{{car._id}}" 
                    class="btn btn-primary">Kontakt vlasnika</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card text-white bg-dark mb-3 card border-dark mb-3" style="max-width: 40rem;">
            <form action="/izracunajUkupno/{{car._id}}" method="POST">
            <div class="form-group">
                <label for="dan">Koliko dugo želite iznajmiti automobil?</label>
                <select name="dan" class="form-control">
                    <option value="1">1 dan</option>
                    <option value="2">2 dana</option>
                    <option value="3">3 dana</option>
                    <option value="4">4 dana</option>
                    <option value="5">5 dana</option>
                    <option value="6">6 dana</option>
                    <option value="7">7 dana</option>
                    <option value="8">8 dana</option>
                    <option value="9">9 dana</option>
                    <option value="10">10 dana</option>
                    <option value="11">11 dana</option>
                    <option value="12">12 dana</option>
                    <option value="13">13 dana</option>
                    <option value="14">14 dana</option>
                </select>
                
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-danger">Izracunaj ukupnu cijenu</button>
                </div>
                <a href="/showCars" class="btn btn-primary btn-1">Natrag na listu automobila</a> </p>
            </div>
            </form>
        </div>
    </div>
</div>