<div class="media">
  <img src="{{car.slikainfo}}" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <h5 class="card-title">Model: {{car.model}}, Godina: {{car.year}}</h5>
    <p class="card-text">Cijena po satu: {{car.model}}kn, Cijena po tjednu: {{car.year}}kn</p>
    <small>Lokacija: {{car.location}}</small>
    <br>
    <a href="/kontaktOwner/{{car.owner}}" class="btn btn-primary btn-1">Kontaktiraj vlasnika</a>
    <br>
    <a href="/RentCar/{{car._id}}" class="btn btn-danger btn-1">Rent a car</a> 
    </div>
</div>