<div class="container card text-white bg-dark mb-3 card border-dark mb-3" >
{{#each cars}}
<a href="/prikaziAuto/{{_id}}">
<div class="media">
  <input type="hidden" id="carID" value="{{_id}}">
    <div class="media-body">
    <h5 class="mt-0">{{make}} {{model}} {{year}}</h5>
    <div class="row">
        {{#each image}}
        <div class="col-sm">
            <img src="{{imageUrl}}" class="img-fluid" width="300px;" height="auto">
        </div>
        {{else}}
        <img src="/image/logo.png" alt="">
        {{/each}}
    </div>
    </a>
    <p><u>{{pricePerHour}}</u> kn po satu</p>
    <p><u>{{pricePerWeek}}</u> kn po tjednu</p>
    <small>{{location}}</small>
    <small>{{date}}</small>
  </div>
  </div>

<hr>
{{else}}
<p>No car found</p>
{{/each}}
</div>